doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/bootstrap/compiler/bootstrap.css")
    link(rel="stylesheet", href="/bootswatch/flatly/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/paciente.css")

  body
    div(class="container")
      div(class="masthead")
        h4(class="text-muted") Clínica AESO
          include partials/menu
    block content
    
    include partials/footer   

    script(src="/jquery/dist/jquery.js")
    script(src="/popper.js/dist/umd/popper.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/jquery.mask.js")
    script(src="/javascripts/bootbox.min.js")
    script(src="/javascripts/validacoes/utilitarios.js")
    script(src="/javascripts/validacoes/paciente.js")