nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarColor02.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/') Home 
                span.sr-only (current)
            li.nav-item
                a.nav-link(href='/agendamento') Agendamento
            li.nav-item
                a.nav-link(href='/paciente') Paciente