extends ../layout

block content
    h1 Novo Cadastro
    hr
    br
    form(method="POST", action="/usuarios/create", role="form")
        .container
            .panel.panel-primary
                .panel-heading
                    h4 Dados do Paciente
                .panel-body       
                    .row 
                        .col-md-6.mb-6
                            label(for='nome') Nome
                            input#nome.form-control(type='text', name="nome" placeholder='Informe o nome do paciente', autofocus)
                        .col-md-6.mb-6
                            label(for='cpf') CPF
                            input#cpf.form-control(type='text', name="cpf", placeholder="Informe o CPF")
                        .col-md-6.mb-6
                            label(for='dataNascimento') Data Nascimento
                            input#dataNascimento.form-control(type='text', name="dataNascimento", placeholder="dd/mm/aaaa")
                        .col-md-6.mb-6
                            label(for='email') Email
                            input#email.form-control(type='text', name="email", placeholder="E-mail")
                        .col-md-6.mb-6
                            label(for='telefone') Telefone
                            input#telefone.form-control(type='text', name="telefone", placeholder="Telefone")
                .panel-footer(style='text-align: center;')
                    input.btn.btn-primary(type='button', value='Voltar', name='voltar')
                    a.btn.btn-primary(href='/usuarios') Voltar
