extends ../layout

block content
    h1 Novo Cadastro
    hr
    br
    form#createPaciente(method="POST", action="/usuarios/create", role="form")
        .container
            .panel.panel-primary
                .panel-heading
                    h4 Dados do Paciente
                .panel-body       
                    .col-md-12.mb-6
                        label(for='nome') Nome
                        input#nome.form-control(type='text', name="nome", placeholder="Nome", autofocus)
                    .col-md-12.mb-6
                        label(for='cpf') CPF
                        input#cpf.form-control(type='text', name="cpf", placeholder="Informe o CPF")
                    .col-md-12.mb-6
                        label(for='dataNascimento') Data Nascimento
                        input#dataNascimento.form-control(type='text', name="dataNascimento", placeholder="dd/mm/aaaa")
                    .col-md-12.mb-6
                        label(for='email') Email
                        input#email.form-control(type='text', name="email", placeholder="E-mail")
                    .col-md-12.mb-6
                        label(for='telefone') Telefone
                        input#telefone.form-control(type='text', name="telefone", placeholder="(ddd + Número)")
                .panel-footer(style='text-align: center;')
                    input#salvar.btn.btn-primary(type='submit', value='Salvar', name='salvar')
                    a.btn.btn-primary(href='/usuarios') Voltar