extends ../layout

block content
    div(class="jumbotron")
        h1 Clínica AESO
        p(class="lead") 
            | Bem vindo(a)!
        p
            a(href="/agendamento/create" class="btn btn-lg btn-success") Realizar Agendamento